# General
.DS_Store
.env
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
env/
venv/
ENV/

# Node / Frontend
node_modules/
dist/
build/
.next/
out/
.vercel

# Project Specific
ml_model/
fatiguemodel/
fatiguepred/
*.csv
*.pkl
*.h5
backend/logs/
backend/__pycache__/
frontend/node_modules/
